.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner h1 {
    margin-left: 10vw;
    font-size: 10vw;
    line-height: .84em;
    letter-spacing: -.27rem;
    color:rgba(0, 0, 0, 0.623);
}

.button {
    font-size: 10vh;
}

.post {
    padding: 1vh 2vh;
    margin: 5%;
	background-color: #3b74ba5d;
    border-radius: 7px;
}

.blogWrapper {
    background-color: #3b74ba41;
    display: flex;
    height: 100%;
    min-height: 100vh;
}

.menu {
    border: 2px solid #3b74ba80;
    border-radius: 5px;
    width: 600px;
    flex: 0 5 auto;
}

.blog {
    padding: 0vw 10vh;
    padding-top: 5vh;
    text-align: center;
    flex: 1 7 auto;
}

.spacer {
    height: 10vh;
    border-radius: 4px;
    margin: 3vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.red {
	color: #f04e32;
}
.blue {
	color: #3b74ba;
}
.pink {
	color: #f0609e;
}
.yellow {
	color: #fbad18;
}