.game {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 100vh;
    margin: auto;
}

.top {
    display: flex;
    justify-content: space-between;
    height: 50vh;
}

.field{
    width: 100%;
    height: 300px;
    border: solid blue;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.fieldPile {
    width: 100px;
    height: 132px;
    margin: 10px;
    margin-bottom: 3vh;
    border: dashed purple;
    border-top: none;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
    gap: 1px;
}

.card {
    width: 80px; 
    height: 35px; 
    padding: 1px 3px;
    background-color: black;
    flex: 0 0 auto;
}

.card.up {
    border: solid 1px; 
    border-color : green;
    background-color: white;
}

.card.child {
    border-color: yellow;
    background-color: white;
}


.stock {
    width: 50vw;
    height: 90%;
    overflow: auto;
    padding: 40px;
    border: solid #f04e32;
    border-radius: 15px;
    display: flex;
    justify-content: flex-start;
    gap: 3px;
    flex-wrap: wrap;
}

.stock .card {
    width: 50px;
    height: 70px;
    border-right: dashed 1px white;
    border-top: black;
    border-bottom: black;
}

.stock .card.up {
    border: solid 2px green;
}

.goal {
    width: 30vw;
    height: 50%;
    margin-top: 60px;
    border: solid #fbad18;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.goal .goalPile {
    width: 80px;
    height: 112px;
    border: dashed #fbad18;
}

.goalPile .card {
    width: 80px;
    height: 112px;
}

.clubs, .spades {
    color: white
}

.up.clubs, .up.spades {
    color: black;
}

.hearts, .diamonds {
    color: #f04e32;
}



.red {
	color: #f04e32;
}
.blue {
	color: #3b74ba;
}
.pink {
	color: #f0609e;
}
.yellow {
	color: #fbad18;
}